@model ChatViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .custom-tooltip .custom-tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: #e5e5e5;
        color: #0d3a87;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        /* Position the tooltip */
        top: -5px;
        right: 105%;
        position: absolute;
        z-index: 1;
    }

    .custom-tooltip:hover .custom-tooltiptext {
        visibility: visible;
    }
</style>

<h1>Chat</h1>

<div id="room" style="display: none">@Model.RoomId</div>
<div id="sender" style="display: none">@User.Identity.Name</div>

<div class="w-100">
    <div class="w-100 d-block">
        <div id="messages">
            <div id="loader" class="pong-loader" style="display: none"></div>

            @foreach (var message in Model.Messages)
            {
                if (message.Sender == User.Identity.Name)
                {
                    <div id="@message.Id" class="message person d-block">
                        <span class="custom-tooltip">
                            <span class="messageContent messageSmallContent">@message.Content</span>
                            <span id="tooltip-@message.Id" class="custom-tooltip-text">
                                <ion-icon name="trash"></ion-icon>
                                <ion-icon name="create"></ion-icon>
                            </span>
                        </span>
                        <div class="timestamp">@message.Created.ToShortTimeString()</div>
                    </div>
                }
                else
                {
                    <div id="@message.Id" class="message d-block sender">
                        <div><small><strong>@message.Sender</strong></small></div>
                        <span class="custom-tooltip">
                            <span class="messageContent messageSmallContent">@message.Content</span>
                            <span id="tooltip-@message.Id" class="custom-tooltip-text">
                                <ion-icon name="trash"></ion-icon>
                                <ion-icon name="create"></ion-icon>
                            </span>
                        </span>
                        <div class="timestamp">@message.Created.ToShortTimeString()</div>
                    </div>
                }
            }
        </div>
    </div>
    <div id="inputArea" class="form-group">
        <div class="input-group">
            <textarea class="form-control noresize" type="text" id="messageInput" rows="1" placeholder="Type something..."></textarea>

            <span class="input-group-btn">
                <button id="sendButton" class="btn btn-outline-primary">Enter</button>
            </span>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>

    <script>
        $("footer").hide();
    </script>
}
