@model ChatViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Chat</h1>

<div id="messages">
    @foreach (var message in Model.Messages)
    {
        <div>
            <p>@message.Content</p>
            <small>@message.Created - @message.Sender</small>
        </div>
    }
</div>


<div id="room" style="display: none">@Model.RoomId</div>
<div id="sender" style="display: none">@User.Identity.Name</div>

<input type="text" id="messageInput" />
<input type="button" id="sendButton" value="Send Message" />


@section Scripts { 
    <script src="~/lib/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
}
