@model IEnumerable<BoardViewModel>
@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/css/kanban.css" />

<div class="input-group mb-3">
    <input id="boardName" type="text" class="form-control" placeholder="Add board" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
        <button id="boardNameBtn" class="btn" onclick="addBoard()">Append</button>
        <a class="btn btn-warning" href="/Kanban/Archived/@ViewData["projectId"]">Archived</a>
        <a class="btn btn-info" href="/Kanban/History/@ViewData["projectId"]">History</a>
    </div>
</div>

<div id="kaban">
    <div id="boards">

        <div class="board" id="bin">
            <header style="display: inline">Recycle bin</header>
            <button id="empty" class="btn btn-danger btn-block">Archive</button>
            <div class="cards" id="recyclebin"></div>
        </div>

        @foreach (var board in Model)
        {
            <div class="board" id="board-@board.Id">
                <div class="row">
                    <div class="col-10">
                        <header style="display: inline">@board.Name</header>
                    </div>
                    <div class="col" id="x-@board.Id" onclick="archiveBoard(@board.Id)" style="font-size: 20pt; cursor: pointer;">&times;</div>
                </div>
                <div class="input-group mb-3">
                    <input id="cardName-@board.Id" type="text" class="form-control" placeholder="Add card" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button id="btn-@board.Id" class="btn" onclick="addCard(@board.Id)">Create</button>
                    </div>
                </div>
                <div class="cards">
                    @foreach (var card in board.Cards)
                    {
                        <div class="card" id="card-@card.Id">
                            <div class="row">
                                <div class="col">
                                    @* <span class="cardtitle">@card.Content</span> *@
                                    <a href="/Kanban/CardDetails/@card.Id" style="float: right" class="details"><ion-icon name="add"></ion-icon></a>
                                    <p>@card.Content</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>

<div id="projectId" style="display: none">@ViewData["projectId"]</div>


@section Scripts{
    <script src='https://cdnjs.cloudflare.com/ajax/libs/dragula/3.6.3/dragula.min.js'></script>

    <script src="~/js/kanban.js"></script>
}